.title {
    color: purple;
    background-color: orange;
    border: 2px solid black;
    padding: 5px;
    margin: 20px;
}

.heading {
    color: orange;
    background-color: yellow;
    text-align: center;
    padding: 10px;
}

img {
    width: 300px;
    height: auto;
}